/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.flex-row_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
